#dynaDDL
      .color-option.firstRowDiv
        label#lblDynamiccolor.attrLabel(for='ddlDynamic1color') Color:
        select#ddlDynamic1color.valid.lp-select-style.selectpicker(name='Color', onchange='javascript:dynaDDLChange(1 , 4, {"1036094989_th":"http://media21.liverpool.com.mx/web/images/products/es_MX/xl/1036094989.jpg","1036094954_th":"http://media18.liverpool.com.mx/web/images/products/es_MX/xl/1036094954.jpg","1036094962_th":"http://media25.liverpool.com.mx/web/images/products/es_MX/xl/1036094962.jpg","1036094989_sm":"http://media25.liverpool.com.mx/web/images/products/es_MX/sm/1036094989.jpg","1036094989_lg":"http://media18.liverpool.com.mx/web/images/products/es_MX/lg/1036094989.jpg","1036094971_th":"http://media11.liverpool.com.mx/web/images/products/es_MX/xl/1036094971.jpg","1036094954_sm":"http://media13.liverpool.com.mx/web/images/products/es_MX/sm/1036094954.jpg","1036094954_lg":"http://media22.liverpool.com.mx/web/images/products/es_MX/lg/1036094954.jpg","1036094962_sm":"http://media21.liverpool.com.mx/web/images/products/es_MX/sm/1036094962.jpg","1036094962_lg":"http://media23.liverpool.com.mx/web/images/products/es_MX/lg/1036094962.jpg","1036094971_sm":"http://media15.liverpool.com.mx/web/images/products/es_MX/sm/1036094971.jpg","1036094971_lg":"http://media20.liverpool.com.mx/web/images/products/es_MX/lg/1036094971.jpg"} );javascript:gaProductDetail();', style='display: none;')
          | undefined
          option(data-content='<img src=/mobileAssets/images/plp-ajax-loader.gif id=macsh_1036094989 class=maccolorsh style=height:25;width:25></span> Azul', value='Azul') Azul
        .btn-group.bootstrap-select.valid.lp-select-style
          button.btn.dropdown-toggle.selectpicker.btn-default(type='button', data-toggle='dropdown', data-id='ddlDynamic1color', title='&lt;img src=/mobileAssets/images/plp-ajax-loader.gif id=macsh_1036094989 class=maccolorsh style=height:25;width:25&gt;&lt;/span&gt; Azul')
            span.filter-option.pull-left
              img#macsh_1036094989.maccolorsh(src='http://media25.liverpool.com.mx/web/images/products/es_MX/sm/1036094989.jpg', style='height:25px;width:25px')
              |  Azul
            span.caret
          .dropdown-menu.open
            ul.dropdown-menu.inner.selectpicker(role='menu')
              li.selected(data-original-index='0')
                a(tabindex='0', data-normalized-text='<img src=/mobileAssets/images/plp-ajax-loader.gif id=macsh_1036094989 class=maccolorsh style=height:25;width:25></span> Azul')
                  img#firstmacsh_1036094989.maccolorsh(src='http://media25.liverpool.com.mx/web/images/products/es_MX/sm/1036094989.jpg', style='height:25;width:25')
                  |  Azul
                  span.glyphicon.glyphicon-ok.check-mark
      .color-option
        label#lblDynamicmaterial.attrLabel(for='ddlDynamic2material') Material:
        select#ddlDynamic2material.valid.lp-select-style.selectpicker(name='Material', onchange='javascript:dynaDDLChange(2 , 4, {"1036094989_th":"http://media21.liverpool.com.mx/web/images/products/es_MX/xl/1036094989.jpg","1036094954_th":"http://media18.liverpool.com.mx/web/images/products/es_MX/xl/1036094954.jpg","1036094962_th":"http://media25.liverpool.com.mx/web/images/products/es_MX/xl/1036094962.jpg","1036094989_sm":"http://media25.liverpool.com.mx/web/images/products/es_MX/sm/1036094989.jpg","1036094989_lg":"http://media18.liverpool.com.mx/web/images/products/es_MX/lg/1036094989.jpg","1036094971_th":"http://media11.liverpool.com.mx/web/images/products/es_MX/xl/1036094971.jpg","1036094954_sm":"http://media13.liverpool.com.mx/web/images/products/es_MX/sm/1036094954.jpg","1036094954_lg":"http://media22.liverpool.com.mx/web/images/products/es_MX/lg/1036094954.jpg","1036094962_sm":"http://media21.liverpool.com.mx/web/images/products/es_MX/sm/1036094962.jpg","1036094962_lg":"http://media23.liverpool.com.mx/web/images/products/es_MX/lg/1036094962.jpg","1036094971_sm":"http://media15.liverpool.com.mx/web/images/products/es_MX/sm/1036094971.jpg","1036094971_lg":"http://media20.liverpool.com.mx/web/images/products/es_MX/lg/1036094971.jpg"} );javascript:gaProductDetail();', style='display: none;')
          option(value='POLIESTER') POLIESTER
        .btn-group.bootstrap-select.valid.lp-select-style
          button.btn.dropdown-toggle.selectpicker.btn-default(type='button', data-toggle='dropdown', data-id='ddlDynamic2material', title='POLIESTER')
            span.filter-option.pull-left POLIESTER
            span.caret
          .dropdown-menu.open
            ul.dropdown-menu.inner.selectpicker(role='menu')
              li.selected(data-original-index='0')
                a(tabindex='0', data-normalized-text='<span class="text">POLIESTER</span>')
                  span.text POLIESTER
                  span.glyphicon.glyphicon-ok.check-mark
      .color-option
        label#lblDynamicsize.attrLabel(for='ddlDynamic3size') Talla:
        select#ddlDynamic3size.valid.lp-select-style.selectpicker(name='Talla', onchange='javascript:dynaDDLChange(3 , 4, {"1036094989_th":"http://media21.liverpool.com.mx/web/images/products/es_MX/xl/1036094989.jpg","1036094954_th":"http://media18.liverpool.com.mx/web/images/products/es_MX/xl/1036094954.jpg","1036094962_th":"http://media25.liverpool.com.mx/web/images/products/es_MX/xl/1036094962.jpg","1036094989_sm":"http://media25.liverpool.com.mx/web/images/products/es_MX/sm/1036094989.jpg","1036094989_lg":"http://media18.liverpool.com.mx/web/images/products/es_MX/lg/1036094989.jpg","1036094971_th":"http://media11.liverpool.com.mx/web/images/products/es_MX/xl/1036094971.jpg","1036094954_sm":"http://media13.liverpool.com.mx/web/images/products/es_MX/sm/1036094954.jpg","1036094954_lg":"http://media22.liverpool.com.mx/web/images/products/es_MX/lg/1036094954.jpg","1036094962_sm":"http://media21.liverpool.com.mx/web/images/products/es_MX/sm/1036094962.jpg","1036094962_lg":"http://media23.liverpool.com.mx/web/images/products/es_MX/lg/1036094962.jpg","1036094971_sm":"http://media15.liverpool.com.mx/web/images/products/es_MX/sm/1036094971.jpg","1036094971_lg":"http://media20.liverpool.com.mx/web/images/products/es_MX/lg/1036094971.jpg"} );javascript:gaProductDetail();', style='display: none;')
          option(value='Extra Grande') Extra Grande
          option(value='Chica') Chica
          option(value='Grande') Grande
          option(value='Mediana') Mediana
        .btn-group.bootstrap-select.valid.lp-select-style
          button.btn.dropdown-toggle.selectpicker.btn-default(type='button', data-toggle='dropdown', data-id='ddlDynamic3size', title='Extra Grande')
            span.filter-option.pull-left Extra Grande
            span.caret
          .dropdown-menu.open
            ul.dropdown-menu.inner.selectpicker(role='menu')
              li.selected(data-original-index='0')
                a(tabindex='0', data-normalized-text='<span class="text">Extra Grande</span>')
                  span.text Extra Grande
                  span.glyphicon.glyphicon-ok.check-mark
              li(data-original-index='1')
                a(tabindex='0', data-normalized-text='<span class="text">Chica</span>')
                  span.text Chica
                  span.glyphicon.glyphicon-ok.check-mark
              li(data-original-index='2')
                a(tabindex='0', data-normalized-text='<span class="text">Grande</span>')
                  span.text Grande
                  span.glyphicon.glyphicon-ok.check-mark
              li(data-original-index='3')
                a(tabindex='0', data-normalized-text='<span class="text">Mediana</span>')
                  span.text Mediana
                  span.glyphicon.glyphicon-ok.check-mark
      .color-option
        label#lblDynamictexture.attrLabel(for='ddlDynamic4texture') texture:
        select#ddlDynamic4texture.valid.lp-select-style.selectpicker(name='texture', onchange='javascript:dynaDDLChange(4 , 4, {"1036094989_th":"http://media21.liverpool.com.mx/web/images/products/es_MX/xl/1036094989.jpg","1036094954_th":"http://media18.liverpool.com.mx/web/images/products/es_MX/xl/1036094954.jpg","1036094962_th":"http://media25.liverpool.com.mx/web/images/products/es_MX/xl/1036094962.jpg","1036094989_sm":"http://media25.liverpool.com.mx/web/images/products/es_MX/sm/1036094989.jpg","1036094989_lg":"http://media18.liverpool.com.mx/web/images/products/es_MX/lg/1036094989.jpg","1036094971_th":"http://media11.liverpool.com.mx/web/images/products/es_MX/xl/1036094971.jpg","1036094954_sm":"http://media13.liverpool.com.mx/web/images/products/es_MX/sm/1036094954.jpg","1036094954_lg":"http://media22.liverpool.com.mx/web/images/products/es_MX/lg/1036094954.jpg","1036094962_sm":"http://media21.liverpool.com.mx/web/images/products/es_MX/sm/1036094962.jpg","1036094962_lg":"http://media23.liverpool.com.mx/web/images/products/es_MX/lg/1036094962.jpg","1036094971_sm":"http://media15.liverpool.com.mx/web/images/products/es_MX/sm/1036094971.jpg","1036094971_lg":"http://media20.liverpool.com.mx/web/images/products/es_MX/lg/1036094971.jpg"} );javascript:gaProductDetail();', style='display: none;')
          option(value='LISO') LISO
        .btn-group.bootstrap-select.valid.lp-select-style
          button.btn.dropdown-toggle.selectpicker.btn-default(type='button', data-toggle='dropdown', data-id='ddlDynamic4texture', title='LISO')
            span.filter-option.pull-left LISO
            span.caret
          .dropdown-menu.open
            ul.dropdown-menu.inner.selectpicker(role='menu')
              li.selected(data-original-index='0')
                a(tabindex='0', data-normalized-text='<span class="text">LISO</span>')
                  span.text LISO
                  span.glyphicon.glyphicon-ok.check-mark