html
  input#productId(type='hidden', value='1041579702')
  head
    meta(http-equiv='content-Type', content='text/html; charset=utf-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='format-detection', content='telephone=no')
    script(type='text/javascript', src='/mobileAssets/js/atgsvcs.js')
    include ./includes-pdp/detail_impor_css_js.jade
  body
    section.main-wrapper
      // Section Wrapper
      // PDP header starts here
      // defect:7228 fix start
      // defect:7228 fix end
      header.head_container
        include header-active.jade
          // Header Movil

          // starts: search popup for mobile
        //WAP enhancements modal search included  
        include ./common/modal_search.jade
        //WAP enhancements finish modal search included  

      // PDP header ends here
      // bread crumbs start
      .row
        ul.breadcrumb
          li
            a(href='/tienda/m', rel='external') Home
          span#ancestorLbl(style='display:none') Línea Blanca
          span#breadCrumbLbl(style='display:none') Lavado y Secado
          li
            a.actual(href='/tienda/m/línea-blanca/cat610025', rel='external') Línea Blanca
          li
            a.actual(href='/tienda/m/', rel='external') Línea Blanca
          li
            a.actual(href='/tienda/m//lavado-y-secado/cat610027', rel='external') Lavado y Secado
          li Lavadoras
          script.
            $(document).ready(function(){
            dataLayer.push({ 'category':$('#ancestorLbl').text(), 'subcategory':$('#breadCrumbLbl').text(),
            'event':'contentGroup'
            });
            });
      // bread crumbs end
      hr
      // Main PDP content Start
      div(itemscope='', itemtype='http://schema.org/Product')
        div
          .col-md-6
             include ./includes-pdp/detail_gallery.jade
          script.
            completeGallery(1041579702);
          // images images end1
          #sc-page-spinner.a-row.a-hidden
            .a-row.sc-overwrap
            .a-row.sc-spinner
              img(alt='', src='/mobileAssets/images/icons/loader_liverpool.gif')
          // Div Modal preview Images
          #myModal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
            .modal-size.modal-dialog.modal-lg
              .modal-size.modal-content
                .bg-Modal(data-dismiss='modal')
                  p <  REGRESAR
                #carousel-example-generic.carousel.slide.size-modal-preview(data-ride='carousel')
                  ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    //
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                  // Wrapper for slides
                  .carousel-inner
                    .item.active.size-img-prev
                      img.img-responsive.center-img-modal.bigImage(src='http://media14.liverpool.com.mx/web/images/products/es_MX/xl/1041579702.jpg', onerror="pdCDNImage('xl','1041579702')", alt='no image')
                      .carousel-caption
                  // Controls
          // End Div Modal Preview Image
          .col-md-6
            // Div Config Product
            p.upper-text(itemprop='name') Lavadora 19 Kg. Whirlpool Blanca 7MWTW4915EW
            .row
              .col-md-12
                .prod-model-text
                  | Código de Producto 
                  span(itemprop='sku') 1041579702
              // logged in user:start
              .col-md-12
                hr
                //WAP enhancements added new class to this form
                form#ratingForm
                  a.popover-show(tabindex='0', data-toggle='popover', data-trigger='focus', title='Aviso', data-content="Para poder calificar los productos, debes\
                  <a href='javascript: void(0);' data-toggle='modal' data-target='#modalLogin' title='iniciar sesión'>Iniciar sesión</a>")
                    input#input-21f.rating(value='5.0', type='number', disabled='true', min='0', max='5', step='0.5', data-size='xs')
            // defect 7217
            // defect 7217
            input#requiredlistprice(type='hidden', value='12199.0')
            input#requiredsaleprice(type='hidden', value='12199.0')
            input#requiredpromoprice(type='hidden', value='8295.0')
            input#contextpath(type='hidden', value='/tienda/m')
            input#minimumListPrice(type='hidden', value='12199.0')
            input#maximumListPrice(type='hidden', value='12199.0')
            input#minimumPromoPrice(type='hidden', value='8295.0')
            input#maximumPromoPrice(type='hidden', value='8295.0')
            input#numRecords(type='hidden', value='1')
            #finalSkuIdPrice
            #pdpromos
              .row
                .col-xs-3(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
                  meta(itemprop='priceCurrency', content='MXN')
                  p.precio-tachado-modulo.col-xs-6.col-sm-6(itemprop='price')
                    | $12,199
                .col-xs-6
                  p.newprice
                    | $8,295
            br
            // <div class="flags-module">
            // </div>
            .row.col-md-12.flags_container
              i#preventa.sprite_flags.disp_image
              p.text_Flags
                | Entrega a Domicilio
            .row.col-md-12.flags_container
              i#preventa.sprite_flags.especial_paypal_image
              p.text_Flags Especial Paypal
            // Div Modal Preview Forma de Pago
            #myModal3.modal.fade.bs-example-modal-lg3(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel2', aria-hidden='true')
              .modal-size.modal-dialog.modal-lg
                .modal-size.modal-content
                  .col-md-12.bg-Modal(data-dismiss='modal')
                    p <  REGRESAR
                  //WAP Enhancements new promo format 
                  .descripton-product.center-img-modal
                    h4 Opciones de pago
                    hr.divider
                    .bg-tarjetas
                      ul
                        li
                          img(src='/mobileAssets/images/card_liver1.png')
                        li
                          img(src='/mobileAssets/images/card_liver2.png')
                        li
                          h6
                            b Con tarjetas Liverpool
                    p  
                    ul.bg-pdp-cell.lppromos.tarejtas-liverpool
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                        
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                        
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                        
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                        
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                        
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                        
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                        
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                        
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                    hr.divider
                    .bg-tarjetas
                      ul
                        li
                          img(src='/mobileAssets/images/card_visa.png')
                        li
                          img(src='/mobileAssets/images/card_master.png')
                        li
                          h6
                            b Otras Tarjetas
                    p  
                    ul.bg-pdp-cell.otherpromos.tarjetas-externas
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        sbr
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
                      li(type='disc')
                        strong 32.00%
                        &nbsp;
                        span.fcbkitem_text de descuento
                        &nbsp; -
                        &nbsp;
                        strong 3
                        &nbsp; 
                        span.fcbkitem_text meses sin intereses                           
                        br
            // End Div Modal Forma de Pago
            script(type='text/javascript').
              var keys;
              var pdpPriceVal=
              [
              {"SkuId":"1041579702"
              ,
              "listPrice":"12199.0","promoPrice":"8295.0 ","salePrice":"12199.0"
              },
              ]
            // PRICE DIV
            //
              <div class="row"><div class="col-xs-3">	<p class="precio-tachado-modulo">$899</p></div>	<div class="col-xs-6"><p class="newprice">$719</p></div>
              </div>
            // varient jsp// add to cart :: starts
            body
              #lenseOverlayDiv(style='display: none')
              script.
                var keys;
                var allVariants={
                "skuVriant" :[
                {"SkuId":"1041579702"
                ,"color":"BLANCO"
                ,"dimension":".60 X 1.20"
                ,"material":"METAL-VIDRIO"
                },
                ]
                }
              span#skumap.hide
                | {"1041579702_th":"http://media14.liverpool.com.mx/web/images/products/es_MX/xl/1041579702.jpg","1041579702_sm":"http://media16.liverpool.com.mx/web/images/products/es_MX/sm/1041579702.jpg","1041579702_lg":"http://media20.liverpool.com.mx/web/images/products/es_MX/lg/1041579702.jpg"}
              #dynaDDL
              script.
                LoadProductData('{"1041579702_th":"http://media14.liverpool.com.mx/web/images/products/es_MX/xl/1041579702.jpg","1041579702_sm":"http://media16.liverpool.com.mx/web/images/products/es_MX/sm/1041579702.jpg","1041579702_lg":"http://media20.liverpool.com.mx/web/images/products/es_MX/lg/1041579702.jpg"}');
                $(function(){
                var color = $("#dynaDDL").find('select:first').val();
                var size = $("#dynaDDL").find('select:last').val();
                var key;
                for(var k in allVariants.skuVriant) {//console.log(allVariants.skuVriant[k].color + '-'+allVariants.skuVriant[k].size);
                if(allVariants.skuVriant[k].color.replace(/ /gi, '') === color.replace(/ /gi, '') && allVariants.skuVriant[k].size.replace(/ /gi, '') === size.replace(/ /gi, '')) {
                key = k;
                break;
                }
                }
                $("#skuId").val(allVariants.skuVriant[key].SkuId);
                });
              form#addItemToCartForm(method='post', action='/tienda/m/browse/pdAddtoCart.jsp?_DARGS=/m/browse/productVarients.jsp.addItemToCartForm', name='addItemToCartForm')
                input(value='utf-8', type='hidden', name='_dyncharset')
                input(value='-2373058680953179633', type='hidden', name='_dynSessConf')
                input(value='1041579702', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.productId')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.productId')
                input(value='32.0', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.value.promoDiscountAmount')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.value.promoDiscountAmount')
                input(value='PD', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.value.promoType')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.value.promoType')
                // 7
                input#skuId(value='1041579702', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.catalogRefIds')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.catalogRefIds')
                input(value='Big Ticket', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.value.productType')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.value.productType')
                // 8
                // not lense common normal product
                button.btn-pdp(onclick="submitAddToCartPagar('addItemToCartForm','1041579702','false');")
                  img(src='/mobileAssets/images/cta_paynow.png')
                  span Pagar ahora
                input#selectedQuantity(value='1', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.quantity')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.quantity')
                // <div class="">
                // row-fluid share-container tabnavigationcontainer
                input#itemToGiftId(value='false', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.value.itemToGift')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.value.itemToGift')
                p  
                input(value='Big Ticket', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.value.productType')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.value.productType')
                input(value='false', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.skipInventory')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.skipInventory')
                input#selectedQuantity(value='1', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.quantity')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.quantity')
                input(value='LP_SITE_400', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.siteId')
                input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.siteId')
                a.btn-pdp-bag(title='Comprar', onclick="submitAddToCart(addItemToCartForm,'1041579702','false'); javascript:pdpAddToCartButton('Lavadora 19 Kg. Whirlpool Blanca 7MWTW4915EW','1041579702','8295.0','WHIRLPOOL');", href='#')
                  img(src='/mobileAssets/images/cta_paylater.png')
                  span Agregar a mi bolsa
                  input#addTocartButton(value='submit', type='hidden', name='/atg/commerce/order/purchase/CartModifierFormHandler.addItemToOrder')
                  input(value=' ', type='hidden', name='_D:/atg/commerce/order/purchase/CartModifierFormHandler.addItemToOrder')
                input(value='/m/browse/productVarients.jsp.addItemToCartForm', type='hidden', name='_DARGS')
            // varient jsp// add to cart :: ends
            // Div Agregar bolsa alerta
            #myModalAlert.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel2', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-body
                    .col-xs-10
                      h5.color-rosa 1 ARTÍCULO
                      p.color-g FUE AGREGADO A TU BOLSA DE COMPRAS
                    .col-xs-2
                      button.close(type='button', data-dismiss='modal') ×
                    div
                      p  
                      button.btn-pdp(onclick="window.location.href='/tienda/m/cart/cart.jsp'")
                        span Proceder a pagar
                      p  
                      button.btn-pdp-con(data-dismiss='modal')
                        span Continuar comprando
                      p  
            // End Div Agregar Bolsa alerta
            // Div Agregar bolsa error alerta
            #myModalAlertError.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel3', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-body
                    .row
                      .col-xs-10
                        .col-xs-3
                          img(src='/mobileAssets/images/symbol_alert_sb.png')
                        .col-xs-9
                          p.color-rosa-Alert.text-center
                      .col-xs-2
                        button.close(type='button', data-dismiss='modal') ×
                    .row
                      .bgAlertError
                        #formError  
                        p.color-g.text-center
                        p.color-g.text-center
            // End Div Agregar Bolsa Error alerta
            input#currentProductDetailsPageUrl(value='/tienda/m/lavadora-19-kg-whirlpool-blanca-7mwtw4915ew/1041579702', type='hidden')
            // Div Loggin Modal
            //WAP Enhancements Modal Login PopUp  (IN PDP we  remove the old modal)
            //End WAP Enhancements Modal Login PopUp
            // End  Loggin Modal
            .row.social-rating_container
              .social-rating
                #tools_producto
                  .clear
                  .col-xs-2.btn-pdp-redes.lpfirstsocialicon
                    a.addthis_button_email.at300b(target='_blank', title='Correo')
                      img(src='/mobileAssets/images/pdp_message.png', alt='MESSENGER')
                  .col-xs-2.btn-pdp-redes
                    a.addthis_button_facebook.at300b(onclick="window.open('','_blank');return false;", title='Facebook')
                      img(src='/mobileAssets/images/pdp_face.png', alt='FACEBOOK')
                  .col-xs-2.btn-pdp-redes
                    a.addthis_button_twitter.at300b(onclick="window.open('','_blank');return false;", style='background-image:https://www.liverpool.com.mx/web/images/tweet_btn.png; background-repeat:no-repeat', tw:via='LiverpoolMexico', tw:text='#EsParteDeMiVida', title='Tweet')
                      img(src='/mobileAssets/images/pdp_twitter.png', alt='TWITTER')
                  .col-xs-2.btn-pdp-redes
                    a.addthis_button_google_plusone_share.at300b(g:plusone:size='medium', title='Google+')
                      img(src='/mobileAssets/images/pdp_google.png', alt='GOOGLE PLUS')
                  .col-xs-2.btn-pdp-redes.btn-pdp-redes-last
                    | COMPARTE
                  script(type='text/javascript').
                    var addthis_config = {
                    ui_language: "es",
                    data_ga_property: 'UA-4668284-1',
                    data_ga_social: true
                    };
                    addthis_config.ui_email_from = '';
                  script(type='text/javascript', src='http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-537712a30d2b9bd8')
                .clear-fix
          // End Div Config Product
        .col-md-12.bg-pdp-description
          // Div Description Product
          .row
            p  
            .list-group
              .col-md-12
                a.list-group-item(href='#myModal2', data-toggle='modal', data-target='.bs-example-modal-lg2')
                  .row.description-button
                    .col-md-6
                      h4.list-group-item-heading Descripción
                    .col-md-6
                      | Lavadora 19 Kg. Whirlpool Blanca 7MWTW4915EW
                    .img-arrow
                      img(src='/mobileAssets/images/arrow_forward.png')
              .col-md-12
                a.list-group-item.size-pago(href='#myModal3', data-toggle='modal', data-target='.bs-example-modal-lg3')
                  .row.payment-options
                    .col-xs-10
                      h4.list-group-item-heading Opciones de pago
                    .img-arrow
                      img(src='/mobileAssets/images/arrow_forward.png')
              p  
            // Div Modal Preview Description
            #myModal2.modal.fade.bs-example-modal-lg2(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel2', aria-hidden='true')
              .modal-size.modal-dialog.modal-lg
                .modal-size.modal-content
                  .col-md-12.bg-Modal(data-dismiss='modal')
                    p < REGRESAR
                  .descripton-product.center-img-modal
                    h4 Pantalla LED 20 Pulgadas 20MT45D LG
                    hr.divider
                    p Televisor Led Full Hd 42 Pulgadas, Ahorro De Energía, Hdmi & Usb
                    hr.divider
                    ul.bg-pdp-cell
                      li(type='disc')
                        p
                          b Ancho:
                          |  4 cm.
                      li(type='disc')
                        p
                          b Gama de color:
                          |  Si.
                      li(type='disc')
                        p
                          b Tecnología 3D:
                          |  Si.
                      li(type='disc')
                        p
                          b Cables Incluidos:
                          |  Si
                          li(type='disc')
                            p
                              b Pulgadas:
                              |  19.
                          | 5 Pulgadas.
                      li(type='disc')
                        p
                          b Formato de Pantalla:
                          |  16:9 (1.77:1).
                      li(type='disc')
                        p
                          b Resolución:
                          |  1600 x 900.
                      li(type='disc')
                        p
                          b Tipo de sintonizador:
                          |   HDTV (ATSC).
                      li(type='disc')
                        p
                          b Conexión:
                          |  HDMI.
                      li(type='disc')
                        p
                          b Tipo de Sonido:
                          |  Sistema Surround.
                      li(type='disc')
                        p
                          b Tipo de Pantalla:
                          |  Oled.
                      li(type='disc')
                        p
                          b Calidad en Movimiento en HZ:
                          |  240.
                      li(type='disc')
                        p
                          b Clasificicación:
                          |  energética.
                      li(type='disc')
                        p
                          b Accesorios Incluidos:
                          |  Control remoto, baterías, manual, cable de poder, manual del usuario.
                      li(type='disc')
                        p
                          b Modelo:
                          |  20MT45D.
                      li(type='disc')
                        p
                          b Marca:
                          |  LG.
                      li(type='disc')
                        p
                          b Control remoto:
                          |  Si.
                      li(type='disc')
                        p
                          b Tecnologia:
                          |  LED.
                      li(type='disc')
                        p
                          b Composición:
                          |  Plástico.
                      li(type='disc')
                        p
                          b Consumo de energía:
                          |  50 W.
                      li(type='disc')
                        p
                          b Consumo en modo de espera:
                          |  Si.
                      li(type='disc')
                        p
                          b Tipo de Base:
                          |  Fija.
                      li(type='disc')
                        p
                          b Peso:
                          |  2.
                      | 5 kilogramos.
                      p
                      li(type='disc')
                        p
                          b Garantía:
                          |  1 año.
                      li(type='disc')
                        p
                          b Entrada de PC:
                          |  Si.
                      li(type='disc')
                        p
                          b Funciones:
                          |  Panel LED, Contraste 5000000:1, Time Machine Ready, External Power Adapter,USB (fotos y musica), SUPER Energy Saving.
                      li(type='disc')
                        p
                          b Salidas:
                          |  Audio Out (Mini Jack),10 Watts x 2, 1 Digital Audio Out (Optical), WiFi Direct.
                      li(type='disc')
                        p
                          b Número de entradas DVI:
                          |  1.
                      li(type='disc')
                        p
                          b Número de Entradas HDMI:
                          |  1.
                      li(type='disc')
                        p
                          b Número de Salidas HDMI:
                          |  1.
                      li(type='disc')
                        p
                          b Número de altavoces:
                          |   2 CH + 40 Watts.
                      li(type='disc')
                        p
                          b Detalles:
                          |  Wireless y LAN integrado.
                      li(type='disc')
                        p
                          b Tipo de control remoto:
                          |  Tv/DVD.
                      li(type='disc')
                        p
                          b Marco:
                          |  Metal Silver.
                      li(type='disc')
                        p
                          b Angulo de visión:
                          |  178° (89/89) derecho/izquierdo y de arriba/abajo.
                      li(type='disc')
                        p
                          b Montar en la pared:
                          |  Si.
                      li(type='disc')
                        p
                          b Detalles:
                          |  HDMI, USB 3.
                      | 0, LAN.
                      p
                      li(type='disc')
                        p
                          b Uso:
                          |  Entretenimiento.
                      li(type='disc')
                        p
                          b Color:
                          |  Negro.
            // End Div Modal Preview Description
            // End Div Modal Preview Description
        // End Div Description Product
      // Div Recomendations starts
      // Start: product-carousel-slot
      //WAP enhancements recomendations hidden implemented as new pages
      .row
        include ./includes-plp/recomendations.jade
        include ./common/modal_login.jade

      //WAP enhancements end block code

      // End Div Recomendations
      //
        <script type="text/javascript">
        window.onload = function(){
        var x = document.getElementById("home-slot").getElementsByClassName("cs-rec").length;
        var d=document.getElementById("home-slot").getElementsByClassName("cs-rec");
        var i;
        for(i= 0; i < x ; i++){
        d[i].className = d[i].className +" thumbnail col-xs-4";
        }
        };
        </script>
      // Div Recomendations Ends
      // End Div Recomendations
      // dynamic Recomendations
      // End dynamic Recomendations
      //WAP enhancements recomendations hidden implemented as new pages
      include ./includes-plp/footer-plp.jade
      //WAP enhancements end block code
    script.
      dataLayer = [];
    noscript
      iframesrc(www.googletagmanager.com='', ns.html?id='GTM-MDXLRB"', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MDXLRB');
    input#ga_price(type='hidden', value='8295.0')
    input#ga_prod_name(type='hidden', value='Lavadora 19 Kg. Whirlpool Blanca 7MWTW4915EW')
    input#ga_skuid(type='hidden', value='1041579702')
    input#ga_brand(type='hidden', value='WHIRLPOOL')
    input#ga_colour(type='hidden', value='')
    script.
      window.onload=gaProductDetail();
